@import "tailwindcss";

:root {
  --color-primary: #3ba49f;
  --color-accent: #f97316;
  --color-dark: #333333;
  --color-light: #f5f5f5;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-dark: var(--color-dark);
  --color-light: var(--color-light);

  --font-sans: system-ui, sans-serif;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-sans);
}
